<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./head") %>
</head>
<body>
    <div class="container" id="aCon">
        <div class="all titlebox">
            <div class="tbox">
                <p class="t1">책 읽는 마을 Billage의</p>
                <p class="t2">8마리 토끼 모아보기</p>
            </div>
            <img class="i1" src="/images/running.png">
        </div>
        <div class="typebox">
            <% for(let j = 1; j< 9; j++) {%>
                <% if(j===4) { %>
                    <div class="type-item">
                        <a class="typelink" href="/result/<%=j%>">
                            <div class="type-img"><img class="type-img-src" src="/images/type<%=j%>.png"></div>
                            <div class="type-name"><%- resNames[j-1]%></div>
                        </a>
                    </div>
                    <div class="type-item blank">
                        <img class="logo-img" src="/images/logo_2.png">
                    </div>
                <% } else { %>
                    <div class="type-item">
                        <a class="typelink" href="/result/<%=j%>">
                            <div class="type-img"><img class="type-img-src" src="/images/type<%=j%>.png"></div>
                            <div class="type-name"><%- resNames[j-1]%></div>
                        </a>
                    </div>
                <% } %>
            <%}%>
        </div>
        <button class="again">테스트 다시 하기</button>
    </div>
    <script type="module" src="/javascripts/result.js"></script>
</body>
</html>